.cardContainer {
  height: 6rem;
  border-bottom: 0.5rem solid var(--nextui-colors-background);

  td {
    height: 100%;
    background-color: var(--nextui-colors-backgroundHighlight);

    p {
      margin: 0;
    }

    &.position {
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 4px solid var(--nextui-colors-background);
      border-radius: 5px 0px 0px 5px;
    }

    &.user {
      padding: 0 1.5rem;
      cursor: pointer;

      .name {
        font-weight: 600;
        font-size: 1.2rem;
      }

      > div {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      .levelContainer {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    &.experience {
      border-radius: 0px 5px 5px 0px;
    }

    p {
      color: var(--nextui-colors-accents8);
    }

    span {
      color: var(--nextui-colors-primary);
    }
  }
}

.cardContainerSmall {
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: .1rem solid var(--nextui-colors-accents4);

  * {
    font-size: 1rem;
  }

  .name {
    margin-left: 1rem;
  }

  .gratis {
    margin-left: auto;
  }
}