.gratiCardContainer {
  background-color: var(--nextui-colors-backgroundHighlight);
  border-radius: 7px;

  width: 100%;

  .gratiCardHeader {
    padding: 1rem 2rem;
    .userInfo {
      display: flex;
      gap: 1rem;

      .texts {
        display: flex;
        flex-direction: column;
        font-size: 1rem;

        .userInfoText {
          color: var(--nextui-colors-primary);
          font-weight: 600;

          span {
            font-size: 0.75rem;
            color: var(--nextui-colors-accents6);
            font-weight: 400;
            margin-left: 4px;
          }
        }

        .gratiInfoText {
          color: var(--nextui-colors-accents6);
          font-weight: 400;

          span {
            font-weight: 600;
            margin-left: 4px;
          }
        }
      }
    }

    .gratiInfo {
      display: flex;
      gap: 16px;
      margin-left: auto;

      align-items: center;

      .divider {
        width: 1px;
        background-color: var(--nextui-colors-accents6);
      }

      svg {
        cursor: pointer;
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

        &:hover {
          transform: translateY(-2px);
          color: var(--nextui-colors-primary);
        }
      }

      p {
        font-size: 14px;
        color: var(--nextui-colors-accents6);

        a {
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }
  }

  .gratiCardFooter {
    .reactionsContainer {
      display: flex;
      gap: 12px;

      .reaction {
        display: flex;
        gap: 6px;
        align-items: center;

        cursor: pointer;
        transition: filter 0.3s ease-in-out;

        background: var(--nextui-colors-accents2);
        border: 1px solid var(--nextui-colors-accents6);

        border-radius: 8px;
        padding: 4px 10px;
        font-size: 14px;

        &.reacted {
          background: var(--nextui-colors-primaryOpaque);
          border: 1px solid var(--nextui-colors-primary);
        }

        &:hover {
          filter: brightness(1.1);
        }
      }
    }
  }
}
