.profileWrapper {
  padding: 2rem 3rem;

  .containerNavBar {
    width: 100%;

    .imgFundo {
      width: 100%;
      height: 13rem;
    }

    .headerContent {
      padding: 0 2rem;
      display: flex;
      gap: 12px;
      margin-top: -8.625rem;

      .imgPerfil {
        width: 11.25rem;
        height: 11.25rem;
        border-radius: 8rem;
        border: 0.4rem solid var(--nextui-colors-background);
      }

      .userName {
        margin-top: 3.625rem;

        * {
          color: var(--nextui-colors-gray100);
          text-align: center;
          line-height: 1;
        }

        h1 {
          font-size: 1.5rem;
        }

        h2 {
          font-size: 1.125rem;
          font-weight: normal;
        }
      }

      .imgIcons {
        @media (max-width: 980px) {
          display: none;
        }

        margin-left: auto;

        display: flex;
        align-items: center;
        gap: 1rem;

        button {
          background-color: var(--nextui-colors-gray100);
          color: var(--nextui-colors-gray800);
          border-radius: 5px;
          padding: 8px 12px;

          display: flex;
          align-items: center;
          gap: 10px;

          transition: filter 0.2s ease-in-out;

          img {
            height: 1.5rem;
            width: 1.5rem;
          }

          &:hover {
            filter: brightness(1.2);
          }
        }
      }
    }
  }
}

.contentWrapper {
  width: 100%;
  height: 800px;
  margin-top: 2rem;

  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  @media (max-width: 1300px) {
    flex-direction: column;
  }

  .personalInfo {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .aboutPersonCard, .skillsCard, .formationCard {
        padding: 1.5rem 2rem;
        background-color: var(--nextui-colors-backgroundHighlight);
        border-radius: 5px;
        font-size: 1rem;

        h1 {
            color: var(--nextui-colors-tone8);
            font-size: 1.5rem;
        }
    }

    .skillsContent, .formationContent {
        display: flex;
        font-size: 1rem;

        > * {
            flex: 1;

            ul {
                margin: 0;
                font-weight: 600;
                color: var(--nextui-colors-tone7);
                margin-bottom: .5rem;
            }

            li {
                margin-left: 1rem;
                margin-bottom: 4px;
            }
        }
    }
  }
  .messageList {
    width: 100%;
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .commentHeader {
      margin-bottom: 1.3rem;
      width: 100%;
      border-bottom: 2px solid #bfbfc0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;

      h3 {
        font-size: 1.2rem;
      }
      .cardFilter {
        padding: 1rem;
        padding-bottom: 0;
        margin-bottom: 10px;
        cursor: pointer;
        height: 100%;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: var(--nextui-colors-tone2);
        }
      }

      .filterActive:after {
        content: '';
        height: 4px;
        width: calc(100% + 2rem);
        margin-left: -1rem;
        background-color: var(--nextui-colors-primary);
        position: relative;
        bottom: -1.05rem;
        display: block;
        left: 0;
      }
    }
  }
}

.deleteModal {
  h4 {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--nextui-colors-tone8);
  }

  p {
    color: var(--nextui-colors-tone6);
    text-align: center;
  }

  .deleteModalHeader {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: -.8rem;
  }

  .deleteModalFooter {
    display: flex;
  }
}