:root {
  --toastify-color-light: var(--nextui-colors-background);
  --toastify-text-color-light: var(--nextui-colors-accents7);
}

::selection {
  background: var(--nextui-colors-primaryDark);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 98.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 83.5%;
  }
}

body {
  background-color: var(--nextui-colors-background);
  color: var(--nextui-colors-accents6);
  height: 100vh;

  button[aria-label="close"] {
    color: var(--nextui-colors-accents6);
  }
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Inter', sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}
