.homeWrapper {
  width: 100%;
  display: flex;
  padding: 30px;
  gap: 1.4rem;

  .navigation {
    flex: 7.5;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    .feed {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  .info {
    flex: 2.5;
    display: flex;
    flex-direction: column;

    .points, .experience, .ranking {
        width: 100%;
        background-color: var(--nextui-colors-backgroundHighlight);
        border-radius: 5px;
    }

    .points {
        margin-block-end: 20px;
        display: flex;
        flex-direction: row;
        padding: 30px;
          img{
            width: 40px;
            height: 40px;
            margin-inline-end: 20px;
          }
          p{
            font-size: 1.2rem;
          }
    }

    .experience {
      margin-block-start: 20px;
      margin-block-end: 20px;
      display: flex;
      flex-direction: row;
      padding: 30px;
        img{
          width: 40px;
          height: 40px;
          margin-inline-end: 20px;
        }
        p{
          font-size: 1.2rem;
        }
    }

    .ranking {
      margin-block-start: 20px;
    }
  }
}
