.container {
    display: flex;
    h1 {
        color: #121212;
    }
}

.contentContainer {
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    
    display: flex;
    
    .contentFullWidth, .contentNavbarWidth {
        width: 100%;
        height: 100%;
        background-color: var(--nextui-colors-background);

    }

    .contentNavbarWidth {
        margin-left: 5rem;
    }
}