.container {
    display: flex;
    h1 {
        color: #121212;
    }
}

.contentContainer {
    margin-top: 5rem;
    
    display: flex;
    
    .content {
        width: calc(100vw - 5rem);
        height: 100vh;
    }
}
