.landingPageWrapper {
  h1 {
    display: block;
    max-width: 14ch;
    font-size: 4.5rem;
    line-height: 5rem;
    color: var(--nextui-colors-accents8);

    span {
      color: #6874e8;
    }
  }

  .mainSectionContainer {
    position: relative;
    color: var(--nextui-colors-accents7);
    margin-top: 5rem;
    height: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 1;

    p {
      font-size: 1.8rem;
      max-width: 45ch;
      font-weight: 400;
    }

    .adquireButtons {
      display: flex;
      flex-direction: row;
      gap: 24px;
      margin-top: 41px;
    }

    .mockups {
      margin-top: 5rem;
    }
  }

  .plansSectionContainer {
    text-align: center;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: var(--nextui-colors-accents8);

      font-weight: bold;
      font-size: 48px;
      line-height: 58px;
      text-align: center;
    }

    .plansSectionContainer2 {
      padding: 0 4rem;
      font-size: 1.8rem;
      line-height: 22px;
      text-align: center;

      color: var(--nextui-colors-accents7);
    }

    .planFilter {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
      background-color: var(--nextui-colors-backgroundHighlight);
      padding: 0.125rem;
      border-radius: 5px;
      width: calc(30rem + 0.25rem + 0.5rem);
      margin: 1rem 0;
      margin-block-start: 30px;

      button {
        background-color: transparent;
        font-size: 1rem;
        width: 10rem;
        height: 3rem;
        color: var(--nextui-colors-accents7);
        border-radius: 5px;

        &.active {
          background-color: var(--nextui-colors-background);
          font-weight: 600;
        }

        &:not(.active):hover {
          background-color: var(--nextui-colors-background);
        }
      }
    }

    .planList {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      align-items: center;
      justify-content: center;
      margin-bottom: 8rem;

      .plan {
        background-color: var(--nextui-colors-backgroundHighlight);
        border-radius: 5px;
        padding: 1.75rem 1.5rem;
        text-align: start;

        max-width: 24rem;

        h3 {
          font-size: 1.4rem;

          font-style: normal;
          font-weight: 600;
          line-height: 21px;

          color: var(--nextui-colors-accents8);
        }

        p {
          font-size: 1.2rem;

          font-style: normal;
          font-weight: normal;
          line-height: 1.4rem;

          color: var(--nextui-colors-accents7);
        }

        .planPrice {
          font-size: 2.5rem;
          font-weight: 700;
          margin-bottom: 2rem;
          color: var(--nextui-colors-accents7);

          span {
            font-size: 1rem;
            font-weight: 400;
          }
        }

        button {
          width: 100%;
        }
      }
    }
  }

  .aboutSectionContainer {
    width: 100%;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2 {
      font-weight: bold;
      font-size: 48px;

      color: var(--nextui-colors-accents8);
    }
    p {
      margin-block-start: 2rem;
      max-width: 50vw;
      padding: 0 4rem;
      text-align: center;
      font-size: 1.8rem;
      line-height: 40px;
      color: var(--nextui-colors-accents7);
    }
  }
}

.circle1 {
  position: absolute;
  top: -132px;
  left: -48px;
  z-index: 0;
  display: flex;
  opacity: 0.5;
  animation: spin 8s linear infinite;
}

.circle2 {
  position: absolute;
  top: 25%;
  right: -172px;
  z-index: 0;
  display: flex;
  opacity: 0.5;
  animation: spin 8s linear infinite;
}

.circle3 {
  position: absolute;
  top: 70%;
  left: -172px;
  z-index: 0;
  display: flex;
  opacity: 0.5;
  animation: spin 8s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.footer {
  padding: 4rem;
  background-color: var(--nextui-colors-backgroundHighlight);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;

    justify-content: space-between;

    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      width: 100%;
      justify-content: center;
    }

    a {
      font-size: 1rem;
      font-weight: 500;
      color: var(--nextui-colors-accents7);
    }
  }
  .footer_social_content {
    width: 100%;
    justify-content: center;
    border-top: 1px solid var(--nextui-colors-accents7);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    padding-top: 2rem;
    
    a {
      text-decoration: underline;
    }
  }
}
