.ImgFundo {
  height: calc(100vh - 5rem);
}

.containerLogin {
  width: 100%;
  height: calc(100vh - 5rem);
  display: flex;
}

.conteudo {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 6rem;

  & > img {
    width: 10rem;
    height: auto;
  }

  h1 {
    color: var(--nextui-colors-accents8);
    margin-top: 33px;
  }

  .inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .registerSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;

    .divider {
      height: 1px;
      display: flex;
      flex: 1;
      background-color: var(--nextui-colors-accents5);
    }

    span {
      font-size: 0.9rem;
      margin: 0 12px;
    }
  }

  button {
    width: 100%;
    height: 4rem;
    margin-top: 24px;
    border-radius: 5px;
    font-weight: bold;
    a{
    text-decoration: none;
    color: black;
    font-size: large;
    }
    &.secondaryButton {
      background: var(--nextui-colors-background);
      color: var(--nextui-colors-accents8);
      border: 1.6px solid var(--nextui-colors-accents5);
    }
  }

  a {
    color: var(--nextui-colors-primary);
    text-decoration: underline;
    margin-left: auto;
    margin-top: 4px;
  }
}
