.headerContainer {
  height: 5rem;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--nextui-colors-backgroundHighlight);

  display: flex;
  flex-direction: row;
}

.headerContent {
  width: 90%;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    max-width: 480px;
    height: 5rem;
    margin-right: 3rem;

    .mobileMenu {
      display: none;
    }

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 5rem;
      line-height: 5rem;
      color: var(--nextui-colors-accents7);

      transition: color 0.2s;

      & + a {
        margin-left: 2rem;
      }

      &:hover {
        color: var(--nextui-colors-accents9);
      }

      &.active {
        color: var(--nextui-colors-accents9);
        font-weight: bold;
      }
    }

    @media (max-width: 860px) {
      margin: 0;
      max-width: 0;

      .mobileMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .4rem;
        margin-top: 2rem;

        background-color: transparent;

        span {
          height: 1px;
          width: 1rem;
          background-color: var(--nextui-colors-accents7);
        }
      }

      .mobileMenuNavbarOpen {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

        a {
          padding: 0 2rem;
          margin: 0;
          margin-left: -7.2rem;
          width: 100vw;
          background-color: var(--nextui-colors-accents1);

          transition: background-color 0.2s;

          &:hover {
            background-color: var(--nextui-colors-accents2);
          }

          &:last-of-type {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            z-index: -1;
          }
        }

        a + a {
          border-top: 1px solid var(--nextui-colors-accents4);
        }
      }

      .mobileMenuNavbarClosed {
        display: none;
      }
    }
  }

  .notLogged {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.logoContainer {
  background-color: var(--nextui-colors-primary);
  box-shadow: var(--nextui-shadows-sm);
  height: 5rem;
  width: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 60%;
    width: 60%;
  }
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  p {
    font-weight: 500;
    font-size: 1rem;
    color: var(--nextui-colors-accents7);
  }

  span {
    cursor: pointer;
  }
}

.icon {
  height: 1.4rem;
  width: 1.4rem;
  margin-right: 1rem;
  cursor: pointer;

  &,
  * {
    color: var(--nextui-colors-accents7);
    stroke: var(--nextui-colors-accents7);
  }
}
