.groupsModalInfoCorporative {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem;
  .editGrape {
    display: flex;
    flex-direction: column;
    .aboutMe {
      margin-top: 2rem;
      border-radius: 5px;
      background-color: var(--nextui-colors-white);
      width: 100%;

      > div > div {
        border: none;

        &:first-child {
          background-color: #ededed;

          span:first-of-type {
            display: none;
          }

          button {
            background-color: #f6f7f8;
            border-radius: 3px;
            color: var(--nextui-colors-primary);
            font-weight: 600;
            margin-right: 4px;

            &:hover svg path {
              stroke: var(--nextui-colors-primary);
            }
          }
        }
      }

      > div div div {
        min-height: 200px;
      }

      .bar {
        background-color: #ededed;
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
      input {
        border: 0px;
        width: 100%;
        padding: 2rem;
        height: 250px;
      }

      div[data-mode="link"] {
        left: 1rem !important;

        input {
          border: 1px solid #ccc;
          font-size: 13px;
          height: 26px;
          margin: 0px;
          padding: 3px 5px;
          width: 170px;
        }
      }

      > span {
        font-size: 1rem;
        font-weight: 400;
        color: var(--nextui-colors-accents6);
        display: block;
        text-align: right;
        padding: 1rem;

        &.maxCharLimit {
          color: var(--nextui-colors-error);
        }
      }
    }
  }
  .gitHub {
    width: 100%;
    background-color: white;
    padding: 5px;
    display: flex;
    gap: 12px;

    input {
      border: none;
      width: 100%;
    }

    div {
      font-size: 1rem;
      font-weight: 400;
      width: 140px;
      margin-left: 5px;
      background-color: var(--nextui-colors-gray100);
      color: var(--nextui-colors-gray800);
      border-radius: 5px;
      padding: 8px 12px;
      padding-right: 18px;

      display: flex;
      align-items: center;
      gap: 10px;

      transition: filter 0.2s ease-in-out;

      img {
        height: 1.5rem;
        width: 1.5rem;
      }
      &:hover {
        filter: brightness(0.9);
      }
    }
  }
  .linkedin {
    width: 100%;
    background-color: white;
    padding: 5px;
    display: flex;
    gap: 12px;

    input {
      border: none;
      width: 100%;
    }

    div {
      font-size: 1rem;
      font-weight: 400;
      width: 140px;
      margin-left: 5px;
      background-color: var(--nextui-colors-gray100);
      color: var(--nextui-colors-gray800);
      border-radius: 5px;
      padding: 8px 12px;
      padding-right: 18px;

      display: flex;
      align-items: center;
      gap: 10px;

      transition: filter 0.2s ease-in-out;

      img {
        height: 1.5rem;
        width: 1.5rem;
      }
      &:hover {
        filter: brightness(0.9);
      }
    }
  }
  .dribbble {
    width: 100%;
    background-color: white;
    padding: 5px;
    display: flex;
    gap: 12px;

    input {
      border: none;
      width: 100%;
    }

    div {
      font-size: 1rem;
      font-weight: 400;
      width: 140px;
      margin-left: 5px;
      background-color: var(--nextui-colors-gray100);
      color: var(--nextui-colors-gray800);
      border-radius: 5px;
      padding: 8px 12px;
      
      display: flex;
      align-items: center;
      gap: 10px;

      transition: filter 0.2s ease-in-out;

      img {
        height: 1.5rem;
        width: 1.5rem;
      }
      &:hover {
        filter: brightness(0.9);
      }
    }
  }
  .boxButons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    .butonCancel {
      background-color: transparent;
      border: 1px solid #807e7e;
      padding-inline-start: 2rem;
      padding-inline-end: 2rem;
      padding-block-start: 1rem;
      padding-block-end: 1rem;
      text-align: center;
      font-size: 1.5rem;
      border-radius: 5px;
    }
    .butonSave {
      background-color: #6874e8;
      color: white;
      padding-inline-start: 2rem;
      padding-inline-end: 2rem;
      padding-block-start: 1rem;
      padding-block-end: 1rem;
      text-align: center;
      font-size: 1.5rem;
      border-radius: 5px;
    }
  }
}
