.rankingContainer {
  margin-left: 5rem;
  padding: 3rem 7rem;

  .rankingTable {
    width: 100%;
    border-collapse: collapse;

    thead {
      th {
        color: var(--nextui-colors-accents5);
        font-size: 0.9rem;
        text-align: left;
        padding-bottom: 1rem;

        &.positionTitle {
          width: 5rem;
        }
      }
    }
  }
}
