.frame{
    display: flex;
    flex-direction: row;
    padding: 10rem;
    .editProfile{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .imgPerfil{
            position: relative;
            .imgPerfilOn{
                width: 15rem;
                height: 15rem;
            }
            .cam{
                width: 3rem;
                height: 3rem;
                cursor: pointer;
                float: right;
                z-index: 1;
            }
        }
        .editInfo{
            display: flex;
            flex-direction: row;
            .dados{
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                width: 100%;
                align-items: center;
                .datePassword{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    border-bottom: 1px solid rgb(195, 195, 195);
                    gap: 20px;
                        button{
                            white-space: nowrap;
                            font-size: 1.5rem;
                            background-color: transparent;
                            color: gray;
                                &:focus{
                                    border-bottom: 2px solid #6874E8;
                                    border-radius: 0px;
                                }
                        }
                }
                Input{
                    width: 400px;
                }
                button{
                    background-color: #6874E8;
                    color: white;
                    height: 4rem;
                    width: 100%;
                    border-radius: 5px;
                        &:hover{
                            filter: brightness(1.5);
                        }
                }
            }
        }
    }
    .messageList{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .commentHeader {
            margin-bottom: 1.3rem;
            width: 100%;
            border-bottom: 2px solid #bfbfc0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;

            h3 {
              font-size: 1.2rem;
            }
            .cardFilter {
              padding: 1rem;
              padding-bottom: 0;
              margin-bottom: 10px;
              cursor: pointer;
              height: 100%;
              transition: background-color 0.2s ease-in-out;

              &:hover {
                background-color: var(--nextui-colors-accents2);
              }
            }

            .filterActive:after {
              content: '';
              height: 4px;
              width: calc(100% + 2rem);
              margin-left: -1rem;
              background-color: var(--nextui-colors-primary);
              position: relative;
              bottom: -1.05rem;
              display: block;
              left: 0;
            }
        }
    }

}
.groupsModal{
    padding: 2rem;
    border-radius: 5px;
        .groupsWrapper{
            display: flex;
            width: 100%;
            flex-direction: row;
            gap: 2rem;
                .user{
                    width: 30%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: white;
                    border-radius: 7px;
                    padding: 2rem;
                    text-align: center;
                        .imgUser{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            width: 150px;
                            height: 150px;
                            background-color: #6874E8;
                                .imgPerfilOn{
                                    border: 5px solid white;
                                    justify-content: center;
                                    width: 95%;
                                    height: 95%;
                                }
                        }
                        h1{
                            font-size: 2.5rem;
                            font-weight: 500;
                            color: #3b3b3b;
                        }
                        .profession{
                            width: 200px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            border-radius: 4px;
                            border: 2px solid #dadadd;
                            color: #bfbfc0;
                            padding: 5px;
                                span{
                                    font-size: 1.5rem;
                                    font-weight: 200;
                                    color: #4e4e4e;
                                }
                        }
                }

        }
        .infoMe{
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 1000px;
                .InfoAbout{
                    padding: 2rem;
                    font-size: 2rem;
                    font-weight: 500;
                    border-radius: 7px;
                    background-color: white;
                    width: 100%;
                    .span{
                        float: right;
                        &:hover{
                            font-weight: 900;
                            font-size: 2.2rem;
                        }
                    }
                    .whoYou{
                        margin-block-start: 10px;
                        border-style: dashed;
                        border-width: 2px;
                        border-color: #807e7e;
                        display: flex;
                        font-size: 1.5rem;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        padding-block-start: 2rem;
                        padding-block-end: 2rem;
                        span{
                           font-weight: 100;
                        }
                        .spam{
                            color: #4e4e4e;
                            font-weight: 100;
                            font-size: 3rem;
                            &:hover{
                                color: #6874E8;
                            }
                        }
                        &:hover{
                            border: 2px solid #807e7e;
                        }
                    }
                    
                    button {
                        margin-block-start: 2rem;
                        background-color: var(--nextui-colors-gray100);
                        color: var(--nextui-colors-gray800);
                        border-radius: 5px;
                        padding: 8px 12px;

                        display: flex;
                        align-items: center;
                        gap: 10px;

                        transition: filter 0.2s ease-in-out;

                        img {
                          height: 1.5rem;
                          width: 1.5rem;
                        }
                        &:hover {
                            filter: brightness(0.9);
                          }
                      }
                      
                }
                .skills{
                    padding: 2rem;
                    border-radius: 7px;
                    background-color: white;
                    width: 100%;
                    font-size: 2rem;
                    font-weight: 500;
                    .span{
                        float: right;
                        &:hover{
                            font-weight: 900;
                            font-size: 2.2rem;
                        }
                    }
                    .editSkills{
                        margin-block-start: 10px;
                        display: flex;
                        font-size: 1.5rem;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding-block-start: 1rem;
                        padding-block-end: 1rem;
                        justify-content: space-between;
                            .haveExp{
                                width: 50%;
                                font-weight: 100;
                                color: #4e4e4e;
                                div{
                                text-align: center;
                                width: 60px;
                                margin-top: 1rem;
                                border-style: dashed;
                                border-width: 2px;
                                border-color: #807e7e;
                                color: #4e4e4e;
                                font-size: 3rem;
                                max-width: 30%;
                                &:hover{
                                    color: #6874E8;
                                    border: 2px solid #807e7e;
                                }
                                }
                            }
                            .studi{
                                width: 50%;
                                font-weight: 100;
                                color: #4e4e4e;
                                div{
                                text-align: center;
                                width: 60px;
                                margin-top: 1rem;
                                border-style: dashed;
                                border-width: 2px;
                                border-color: #807e7e;
                                color: #4e4e4e;
                                font-size: 3rem;
                                max-width: 30%;
                                &:hover{
                                    color: #6874E8;
                                    border: 2px solid #807e7e;
                                }
                                }
                            }
                    }
                }
                .formation{
                    padding: 2rem;
                    border-radius: 7px;
                    background-color: white;
                    width: 100%;
                    font-size: 2rem;
                    font-weight: 500;
                    .span{
                        float: right;
                        &:hover{
                            font-weight: 900;
                            font-size: 2.2rem;
                        }
                    }
                    .editFormation{
                        margin-block-start: 10px;
                        display: flex;
                        font-size: 1.5rem;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding-block-start: 1rem;
                        padding-block-end: 1rem;
                        justify-content: space-between;
                            .finish{
                                width: 33%;
                                font-weight: 100;
                                color: #4e4e4e;
                                div{
                                text-align: center;
                                width: 60px;
                                margin-top: 1rem;
                                border-style: dashed;
                                border-width: 2px;
                                border-color: #807e7e;
                                color: #4e4e4e;
                                font-size: 3rem;
                                max-width: 30%;
                                &:hover{
                                    color: #6874E8;
                                    border: 2px solid #807e7e;
                                }
                                }
                            }
                            .progress{
                                width: 33%;
                                font-weight: 100;
                                color: #4e4e4e;
                                div{
                                text-align: center;
                                width: 60px;
                                margin-top: 1rem;
                                border-style: dashed;
                                border-width: 2px;
                                border-color: #807e7e;
                                color: #4e4e4e;
                                font-size: 3rem;
                                max-width: 30%;
                                &:hover{
                                    color: #6874E8;
                                    border: 2px solid #807e7e;
                                }
                                }
                            }
                            .interest{
                                width: 33%;
                                font-weight: 100;
                                color: #4e4e4e;
                                div{
                                text-align: center;
                                width: 60px;
                                margin-top: 1rem;
                                border-style: dashed;
                                border-width: 2px;
                                border-color: #807e7e;
                                color: #4e4e4e;
                                font-size: 3rem;
                                max-width: 30%;
                                &:hover{
                                    color: #6874E8;
                                    border: 2px solid #807e7e;
                                }
                                }
                            }
                    }
                }
        }
}
.groupsModalInfoCorporative{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem;
    .editGrape{
        display: flex;
        flex-direction: column;
            .aboutMe{
                border-radius: 5px;
                background-color: white;
                width: 100%;
                .bar{
                    background-color: #EDEDED;
                    padding: 1rem;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                        button{
                            width: 40px;
                            height: 40px;
                            background-color: white;
                            border-radius: 5px;
                            color: #6874E8;
                            font-weight: 600;
                        }
                }
                input{
                    border: 0px;
                    width: 100%;
                    padding: 2rem;
                    height: 250px;
                }
            }
    }
    .gitHub{
        width: 100%;
        background-color: white;
        padding-block-start: 5px;
        padding-block-end: 5px;
        button {
            margin-inline-start: 5px;
            background-color: var(--nextui-colors-gray100);
            color: var(--nextui-colors-gray800);
            border-radius: 5px;
            padding: 8px 12px;

            display: flex;
            align-items: center;
            gap: 10px;

            transition: filter 0.2s ease-in-out;

            img {
              height: 1.5rem;
              width: 1.5rem;
            }
            &:hover {
                filter: brightness(0.9);
              }
          }
    }
    .linkedin{
        width: 100%;
        background-color: white;
        padding-block-start: 5px;
        padding-block-end: 5px;
        button {
            margin-inline-start: 5px;
            background-color: var(--nextui-colors-gray100);
            color: var(--nextui-colors-gray800);
            border-radius: 5px;
            padding: 8px 12px;

            display: flex;
            align-items: center;
            gap: 10px;

            transition: filter 0.2s ease-in-out;

            img {
              height: 1.5rem;
              width: 1.5rem;
            }
            &:hover {
                filter: brightness(0.9);
              }
          }
    }
    .dribbble{
        width: 100%;
        background-color: white;
        padding-block-start: 5px;
        padding-block-end: 5px;
        button {
            margin-inline-start: 5px;
            background-color: var(--nextui-colors-gray100);
            color: var(--nextui-colors-gray800);
            border-radius: 5px;
            padding: 8px 12px;

            display: flex;
            align-items: center;
            gap: 10px;

            transition: filter 0.2s ease-in-out;

            img {
              height: 1.5rem;
              width: 1.5rem;
            }
            &:hover {
                filter: brightness(0.9);
              }
          }
    }
    .boxButons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
            .butonCancel{
                background-color: transparent;
                border: 1px solid #807e7e;
                padding-inline-start: 2rem;
                padding-inline-end: 2rem;
                padding-block-start: 1rem;
                padding-block-end: 1rem;
                text-align: center;
                font-size: 1.5rem;
                border-radius: 5px;
            }
            .butonSave{
                background-color: #6874E8;
                color: white;
                padding-inline-start: 2rem;
                padding-inline-end: 2rem;
                padding-block-start: 1rem;
                padding-block-end: 1rem;
                text-align: center;
                font-size: 1.5rem;
                border-radius: 5px;
            }
    }
}
.groupsModalInfoCorporative{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem;
    .groupsWrapper{
        display: flex;
        flex-direction: column;
            .cox{
                border-radius: 5px;
                background-color: white;
                width: 100%;
                .bar{
                    background-color: #EDEDED;
                    padding: 1rem;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                        button{
                            width: 40px;
                            height: 40px;
                            background-color: white;
                            border-radius: 5px;
                            color: #6874E8;
                            font-weight: 600;
                        }
                }
                input{
                    border: 0px;
                    width: 100%;
                    padding: 2rem;
                    height: 250px;
                }
            }
    }
    
}