.emptyOrganizations {
    margin-top: 2rem;
    text-align: center;

    .firstMessage {
      animation: floating 2s infinite ease-in-out;
    }

    .firstMessageDot {
      animation: floating 2s infinite ease-in-out;
    }

    .secondMessage {
      animation: floating 2.6s infinite ease-in-out;
    }

    .thirdMessage {
      animation: floating 2.2s infinite ease-in-out;
    }

    .link {
      color: var(--nextui-colors-primary);
      text-decoration: underline;
    }

    @keyframes floating {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-0.5rem);
      }
      100% {
        transform: translateY(0);
      }
    }
  }