.deleteModal {
    h4 {
      font-weight: 700;
      font-size: 1.5rem;
      color: var(--nextui-colors-accents8);
    }
  
    p {
      color: var(--nextui-colors-accents6);
      text-align: center;
    }
  
    .deleteModalHeader {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: -0.8rem;
    }
  
    .deleteModalFooter {
      display: flex;
    }
  }