.textEditorContainer {
  background-color: var(--nextui-colors-backgroundHighlight);
  border-radius: 5px;

  width: 100%;
  .users,
  .tags {
    display: flex;
    align-items: center;
    gap: 12px;

    height: 4rem;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .users {
      padding-left: 0.5rem;

      .user {
        background-color: var(--nextui-colors-background);
        padding: 0.5rem 1rem;
        border-radius: 5px;
      }

      .userInput {
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
      }
    }

    .privacy {
      background-color: transparent;
      padding-right: 0.5rem;
    }
  }

  .tag {
    background-color: var(--nextui-colors-background);
    border-radius: 5px;
    height: 3rem;

    display: flex;
    align-items: center;

    .icon {
      width: 3rem;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      border-right: 2px solid var(--nextui-colors-backgroundHighlight);
    }

    .addIcon {
      margin: 0.5rem;
    }

    p {
      margin: 14px;
    }
  }

  .input {
    width: 100%;
    border: none;
    margin-top: 1rem;
    resize: none;
    background-color: transparent;
  }

  .inputFileVisible {
    display: flex;
    width: 200px;
    height: 200px;
    border: 4px solid var(--nextui-colors-primary);
    border-radius: 12px !important;
    padding: 4px;
    opacity: 0.9;
    margin-left: 0;
  }

  .inputFile {
    display: none;
  }

  .attachments {
    display: flex;
    gap: 8px;

    .attachment {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 3rem;
      height: 3rem;
      border-radius: 5px;
      padding: 0;

      background-color: var(--nextui-colors-background);
    }

    .giphyListWrapper {
      overflow-x: hidden;
    }

    .giphySearchForm {
      height: 50px;
      * {
        font-size: 16px;
        display: block;
        width: 100%;
        padding: 5px 25px 6px 10px;
        border-radius: 5px;
        border: 1px solid var(--nextui-colors-accents3);
        background: var(--nextui-colors-accents2);
        color: var(--nextui-colors-accents8);
        outline: 0;
      }
    }
  }

  .sendGratiButton {
    border-radius: 5px;
    height: 3rem;
    margin-left: auto;
  }
}
